name: Build Windows Wheel CUDA 13.0

on:
  workflow_dispatch:
  push:
    branches: [ windows-build ]

jobs:
  build-windows:
    runs-on: windows-2022
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          submodules: recursive
        
      - name: Setup Python 3.12
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'
          cache: 'pip'
          
      - name: Install CUDA 13.0 Toolkit
        shell: powershell
        run: |
          choco install cuda --version=13.0 -y
          $env:Path += ";C:\\Program Files\\NVIDIA GPU Computing Toolkit\\CUDA\\v13.0\\bin"
          $env:Path += ";C:\\Program Files\\NVIDIA GPU Computing Toolkit\\CUDA\\v13.0\\libnvvp"
          
      - name: Install dependencies
        run: |
          pip install torch==2.9.1+cu130 torchvision==0.14.1+cu130 torchaudio==2.9.1 --extra-index-url https://download.pytorch.org/whl/cu130
          pip install wheel==0.43.0 build==1.2.1 setuptools==69.5.1 ninja==1.11.1
          
      - name: Set CUDA architecture
        shell: powershell
        run: |
          $env:TORCH_CUDA_ARCH_LIST = "8.9"
          
      - name: Build wheel
        run: |
          python -m build --wheel --no-isolation .
        env:
          BUILD_CUDA_EXT: "1"
          CUDA_HOME: 'C:\Program Files\NVIDIA GPU Computing Toolkit\CUDA\v13.0'
          
      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: sageattention-cu130-windows
          path: dist/*.whl
          retention-days: 7